.wrapper {
    padding: 15px 20px;
    border: 1px dashed #ff6c60;
    
}
.left {
    width: 120px;
    border: 5px solid #ddd;
}
.right {
    margin-left: 20px;
    border: 5px solid #ddd;
}
/*inline-block*/
.wrapper-inline-block{
    font-size: 0;
}
.wrapper-inline-block .left,
.wrapper-inline-block .right
{
    display:inline-block;
    vertical-align: top;
    font-size: 14px;
    box-sizing: border-box;
}
.wrapper-inline-block .right{
    
    width: calc(100% - 140px);
}
/*float*/
.wrapper-double-float {
    overflow: auto;
}
.wrapper-double-float .left,
.wrapper-double-float .right {
    float: left;
    box-sizing: border-box;
}
.wrapper-double-float .right {
    width: calc(100% - 140px);
}
/*float+margin-left*/
.wrapper-float {
    overflow: hidden;
}

.wrapper-float .left {
    float: left;
}

.wrapper-float .right {
    margin-left: 150px;
}
/*absolute+margin-left*/
.wrapper-absolute .left {
    position: absolute;
}

.wrapper-absolute .right {
    margin-left: 150px;
}