.html{
    font-family: 'Montserrat';
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: ''; display: table; clear: both;
}
*{margin: 0px;padding: 0px;border: 0px}
header,section,footer{
    width: 1600px;
    margin: 0 auto;
}
/*header*/
header{
    background-image: url(./image/Background1.png);
    height:990px;
    background-repeat: no-repeat;
    overflow: hidden;
}
header h1{
    margin-top:207px;
    font-size: 62px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 48px;
}

header>p{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    margin-top: 84px;
    width: 766px;
    line-height: 1.5;
    letter-spacing: 0px;
    margin-left: 419px;
}
header>div{
    margin-left:auto;
    margin-right: auto;
    margin-top:95px;
    width:970px;
    height:250px;
	border-radius: 2px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    
}
header>div h3{
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:56px;
    font-weight: normal;
    line-height: 28px;
	letter-spacing: 2px;
}
header>div p{
    text-align: center;
    margin-top:19px;
    width: 200px;
    margin-left: 387px;
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #ffffff;
	opacity: 0.3;
}
header>div div{
    margin-top:45px;
    text-align: left;
    padding-left: 100px;
    display: flex;
}
header>div div input{
    width: 292px;
	height: 50px;
	border-radius: 2px;
	border: solid 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0);
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    margin-right: 30px;
    box-sizing: border-box;
}
input::-webkit-input-placeholder{
    color:#ffffff;
    opacity: 0.3;
    font-size: 14px;
}
header>div div button{
    width: 125px;
	height: 50px;
	background-color: #ffffff;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1px;
	color: #141414;
}
/*section1*/
section:nth-of-type(1){
    background-color: rgb(255, 255, 255);
    height: 710px;
}
section:nth-of-type(1)>div{
    width:1027px;
    margin: 0 auto;
}
section:nth-of-type(1)>div h4{
    text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2.1px;
    color: #141414;
    margin-top: 89px;
    line-height: 11px;
}
section:nth-of-type(1)>div>p{
    width: 690px;
	font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 52px;
	letter-spacing: 0px;
    color: #141414;
    margin-left: 176px;
    margin-top:39px;
    text-align: center;
}
section:nth-of-type(1)>div>div{
    display: flex;
    margin-top: 85px;
    width: 1027px;
    flex-wrap: wrap;
}
section:nth-of-type(1)>div>div .containerone{
    width: 415px;
    height:85px;
}
.marginright{
    margin-right: 179px;
}
.margintop{
    margin-top:84px;
}
section:nth-of-type(1)>div>div .containerone .left{
    float: left;
    margin-right: 30px;
    width: 30px;
}
section:nth-of-type(1)>div>div .containerone .right{
    display: table-cell; width: 9999px;
    *display: inline-block; *width: auto;
}
section:nth-of-type(1)>div>div .containerone .right p:nth-of-type(1){
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 16px;
	letter-spacing: 0px;
	color: #141414;
}
section:nth-of-type(1)>div>div .containerone .right p:nth-of-type(2){
    margin-top:25px;
    font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #141414;
	opacity: 0.7;
}
/*section2*/
section:nth-of-type(2){
    background-image: url(./image/Background2.png);
    height:800px;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
section:nth-of-type(2)>img{
    right: 0;
    top:104px;
    position:absolute;
}
section:nth-of-type(2)>p:nth-of-type(1){
    width: 400px;
	font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 52px;
	letter-spacing: 0px;
    color: #ffffff;
    margin-top:183px;
    margin-left: 316px;
}
section:nth-of-type(2)>p:nth-of-type(2){
    width: 367px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #ffffff;
    opacity: 0.7;
    margin-top: 47px;
    margin-left: 316px;
}
section:nth-of-type(2)>div{
    margin-top:58px;
    text-align: left;
    display: flex;
    margin-left: 316px;
}
section:nth-of-type(2)>div>button{
    width: 240px;
	height: 60px;
	background-color: #ffffff;
    border-radius: 2px;
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
	color: #141414;
}
section:nth-of-type(2)>div>button:hover{
    font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1.8px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1)
}
section:nth-of-type(2)>div>button:nth-of-type(1){
    margin-right: 30px;
}
/*section3*/
section:nth-of-type(3){
    background-color: rgb(255, 255, 255);
    height: 580px;
    overflow: auto;
}
section:nth-of-type(3)>p{
	font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 52px;
	letter-spacing: 0px;
    color: #141414;
    margin-left: 532px;
    margin-top:88px;
}
section:nth-of-type(3) .container{
    display: flex;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top:85px;
}
section:nth-of-type(3) .container div{
    margin-right: 86px;
    text-align: center;
}
section:nth-of-type(3) .container div p{
    width: 251px;
    text-align: center;
    margin-top: 39px;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #141414;
	opacity: 0.7;
}
/*section4*/
section:nth-of-type(4){
    background-color: rgb(255, 255, 255);
    height: 1000px;
    overflow: auto;
    border-top: 1px solid  	rgba(20,20,20,0.1);
}
section:nth-of-type(4)>div{
    display: flex;
    width: 976px;
    margin-left:auto;
    margin-right: auto;
}
section:nth-of-type(4)>div:nth-of-type(1){
    margin-top:118px;
}
section:nth-of-type(4)>div:nth-of-type(2){
    margin-top:80px;
}
section:nth-of-type(4)>div:nth-of-type(1) img{
    margin-right: 106px;
}
section:nth-of-type(4)>div:nth-of-type(2) img{
    margin-left: 79px;
}
section:nth-of-type(4)>div div p:nth-of-type(1){
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 32px;
	letter-spacing: 0px;
    color: #141414;
    text-align: left;
    margin-top: 70px;
}
section:nth-of-type(4)>div div p:nth-of-type(2){
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #141414;
    opacity: 0.7;
    text-align: left;
    margin-top: 35px;
}
/*section5*/
section:nth-of-type(5){
    background-color: rgb(255, 255, 255);
    height: 1084px;
    overflow: auto;
    border-top: 1px solid  	rgba(20,20,20,0.1);
}
section:nth-of-type(5)>h3{
    text-align: center;
    margin-top: 99px;
	font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #141414;
}
section:nth-of-type(5)>p{
    margin-left: 435px;
    margin-top:35px;
    text-align: center;
    width: 695px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #141414;
	opacity: 0.7;
}
section:nth-of-type(5)>div{
    display: flex;
    width: 1023px;
    margin-left: auto;
    margin-right: auto;
    margin-top:39px;
    flex-wrap: wrap;
}
section:nth-of-type(5)>div div:nth-of-type(1),
section:nth-of-type(5)>div div:nth-of-type(3){
    margin-right:30px;
}
section:nth-of-type(5)>div div:nth-of-type(3),
section:nth-of-type(5)>div div:nth-of-type(4){
    margin-top:30px;
}
.divone{
    position: relative;
}
.infobuttondiv{
    width: 100%;
    height:100%;
    background-color: #141414;
	border-radius: 2px;
    opacity: 0.65;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.infobuttondiv h3{
    text-align: center;
    font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 16px;
	letter-spacing: 0px;
    color: #ffffff;
    margin-top: 109px;
}
.infobuttondiv p{
    width: 184px;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 9px;
	letter-spacing: 1.2px;
	color: #ffffff;
    opacity: 0.4;
    margin-top:21px;
    margin-left: 142px;
}
.infobuttondiv div{
    display: flex;
    margin-left: 129px;
    margin-top:39px;
    width:213px;
}
.infobuttondiv div img{
    margin-right: 30px;
}
.divone:hover .infobuttondiv{
    opacity: 0.65;
    cursor:url('./image/han.ico'),auto;
}
/*section6*/
section:nth-of-type(6){
    background-color: rgb(255, 255, 255);
    height: 700px;
    overflow: auto;
    border-top: 1px solid  	rgba(20,20,20,0.1);
}
section:nth-of-type(6)>div{
   display: flex;
    width: 1023px;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px;
}
section:nth-of-type(6)>div .left{
    width: 470px;
	height: 560px;
	border-radius: 10px;
    border: solid 1px rgba(20,20,20,0.1);
    margin-right: 132px;
}
section:nth-of-type(6)>div .left p{
    width: 233px;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 12px;
	letter-spacing: 2.4px;
    color: #141414;
    margin-left: 120px;
    margin-top: 51px;
}
section:nth-of-type(6)>div .left input{
    width: 370px;
	height: 50px;
	border-radius: 2px;
	border: solid 1px rgba(38,35,33,0.2);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    margin-left: 51px;
    margin-top: 47px;
    box-sizing: border-box;
}
section:nth-of-type(6)>div .left input:nth-of-type(2),
section:nth-of-type(6)>div .left textarea
{
    margin-top: 30px;
}
section:nth-of-type(6)>div .left textarea{
    width: 370px;
    height: 144px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:5px;
    font-size: 14px;
    margin-left: 51px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    border: solid 1px rgba(38,35,33,0.2);
    resize: none;
}
section:nth-of-type(6)>div .left input::-webkit-input-placeholder,
section:nth-of-type(6)>div .left textarea::-webkit-input-placeholder
{
    color:#141414;
    opacity: 0.3;
    font-size: 14px;
}
section:nth-of-type(6)>div .left button{
    width: 370px;
	height: 50px;
	background-color: #141414;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #ffffff;
    margin-left: 51px;
    margin-top: 30px;
    box-sizing: border-box;

}
section:nth-of-type(6)>div .right{
    width: 351px;
}
section:nth-of-type(6)>div .right>p:nth-of-type(1){
    margin-top: 88px;
    font-size: 42px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: 0px;
	color: #141414;
}
section:nth-of-type(6)>div .right>p:nth-of-type(2){
    margin-top: 39px;
    font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #141414;
	opacity: 0.7;
}
section:nth-of-type(6)>div .right .container{
    width: 261px;
    margin-top: 70px;
}
}
section:nth-of-type(6)>div .right .margintopone{
    margin-top: 70px;
}
section:nth-of-type(6)>div .right .margintoptwo{
    margin-top: 40px;
}
section:nth-of-type(6)>div .right .container img{
    float: left;
}
section:nth-of-type(6)>div .right .container p{
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 20px;
	letter-spacing: 0px;
    color: #141414;
    margin-left: 38px;
}
section:nth-of-type(6)>div .right .margintoptwo p{
    line-height: 15px;
}
/*footer*/
footer{
    height: 410px;
    background-color: #141414;
    overflow: auto;
    display: flex;
}
footer li{
    list-style-type: none;
}
footer>div:nth-of-type(1){
    margin-top:88px;
    margin-left: 215px;
    margin-right: 172px;
}
footer>div:nth-of-type(2){
    margin-top:88px;
    margin-right: 151px;
}
footer>div:nth-of-type(3){
    margin-top:88px;
    margin-right: 217px;
}
footer>div:nth-of-type(4){
    margin-top:88px;
}
footer>div:nth-of-type(1) h3,
footer>div:nth-of-type(2) h3,
footer>div:nth-of-type(3) h3
{
    margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 11px;
	letter-spacing: 2.1px;
	color: #ffffff;
}
footer>div:nth-of-type(1) li,
footer>div:nth-of-type(2) li,
footer>div:nth-of-type(3) li
{
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 46px;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 0.3;
}
footer>div:nth-of-type(4) h3{
    margin-bottom: 28px;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 11px;
	letter-spacing: 2.1px;
	color: #ffffff;
}
footer>div:nth-of-type(4) p{
    width: 265px;
	height: 43px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #ffffff;
    opacity: 0.4;
    margin-bottom: 44px;
}
footer>div:nth-of-type(4) div{
    width: 222px;
	height: 18px;
    opacity: 0.3;
    display: flex;
    justify-content: space-between;
}